body {
    background-color: black;
    color: greenyellow;
    font-family: 'Courier', Courier, monospace;
}

#terminal-content {
    font-size: 1.2rem;
    padding: 1em;
}

@keyframes cursor-blink {
    from { display: inline; 
        color: white;
    }
    to { 
        color: rgba(0, 0, 0, 0);
    }
}

#terminal-cursor {
    animation: cursor-blink 700ms infinite;
}