body {
    background: linear-gradient(to top, #000, #000, #222, #222);
    background-size: cover;
    background-size: 100% 1px;

    color: #33FF00;
    font-family: 'Courier', Courier, monospace;
    text-shadow: 0 0 10px;
    animation: terminal-lines 20s infinite linear;
}

@keyframes terminal-lines {
    from {
        background-position: 0 0;
    } 
    to {
        background-position: 0 -10px;
    }
}

#terminal-content {
    width: 100%;
    font-size: 1.2rem;
    padding: 1em;
}

@keyframes cursor-blink {
    from { display: inline; 
        color: white;
    }
    to { 
        color: rgba(0, 0, 0, 0);
    }
}

#terminal-input {
    font-size: 0; /* To prevent whitespace added by the browser betweens <p> tags */
}

#terminal-input * {
    display: inline;
    font-size: 1.2rem;
}

#terminal-cursor {
    animation: cursor-blink 700ms infinite;
}