body {
    background: linear-gradient(to top, #031e11, #031e11, #042314, #042314);
    background-size: cover;
    background-size: 100% 0.5vh;

    color: #14fd88;
    font-family: monospace;
    text-shadow: 0 0 10px;
    animation: terminal-lines 30s infinite linear;
}

p {
    padding: 0;
    margin: 0 0 0.5em 0;
}

@keyframes terminal-lines {
    from {
        background-position: 0 0;
    } 
    to {
        background-position: 0 -100vh;
    }
}

#terminal-content {
    width: 100%;
    font-size: 1.2rem;
}

#terminal-title,  #terminal-content *::selection  {
    background-color: #14fd88;
    color: black;
    text-shadow: none;
    filter: blur(0.5px);
}
#terminal-title > *{
    margin: 0 0.5em 0 0;
}

#terminal-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.2 rem;
}

#horloge{
    margin: 0 10.95em 0 0 !important;
}

#sound{
    cursor: pointer;
}

#terminal-output, #terminal-input-prefix, #terminal-title {
    padding-left: 1em;
}

@keyframes cursor-blink {
    from { display: inline; 
        color: white;
    }
    to { 
        color: rgba(0, 0, 0, 0);
    }
}

#terminal-input {
    font-size: 0; /* To prevent whitespace added by the browser betweens <p> tags */
}

#terminal-input *{
    display: inline;
    font-size: 1.2rem;
}

#terminal-cursor {
    animation: cursor-blink 700ms infinite;
}